* {
  margin: 0;
}

body {
  color: #333;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Bodoni", serif;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.container {
  height: auto;
  padding: 6% 20% 6% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-img {
  width: 15em;
  border-radius: 100%;
}

/********** NAVBAR **********/

#navbar.fixed {
  background-color: palevioletred;
  color: white;
  position: fixed;
  width: 100%;
  padding: 10px;
  text-align: center;
  z-index: 1;
}

#navbar li {
  display: inline;
  padding: 1em;
}

#navbar a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

/********** TITLE SECTION **********/

#title {
  background-image: url(./images/MoominRunning-img.jpg);
  background-size: cover;
  height: 650px;
}

h1 {
  font-family: gill sans;
  color: white;
  font-size: 3em;
  line-height: 1.5em;
  padding-top: 75px;
  text-shadow: 0 0 30px pink;
}

.moominvalley {
  font-family: gill sans;
  color: white;
  font-size: 3em;
  line-height: 1.5em;
  padding-top: 75px;
  text-shadow: 0 0 30px pink;
}

/********** ABOUT SECTION **********/

#about .container {
  background-color: skyblue;
}
.moomin {
  order: 1;
}

.about-text {
  order: 2;
  box-sizing: border-box;
  margin-left: 3em;
}

.tove {
  order: 2;
}

.author-text {
  order: 1;
  box-sizing: border-box;
  margin-right: 3em;
}

/********** CHARACTERS SLIDESHOW SECTION **********/

#characters .container {
  box-sizing: border-box;
}
.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
}

.characterSlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 0.75em;
  top: 50%;
  font-size: 30px;
  transition: 0.7s ease;
  border-radius: 0 3px 0 3px;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 3px 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(135, 206, 235, 0.8);
}

.slideText {
  position: absolute;
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
